@use "../../styles/main.scss" as styles;

.cardButton {
  &:hover {
    box-shadow: 0.5rem 0.5rem 7px;
    border-color: transparent;
  }
}

.cardContainer {
  @include styles.flex-centered;
  flex-direction: column;
  gap: 0.6rem;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 1.5rem;
}
