@use "../../styles/main.scss" as styles;

.selectContainer {
  border-radius: 8px;
  border: 1px solid styles.$button-hover-color;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: styles.$button-color;
  transition: background-color 0.25s;
  cursor: pointer;

  &:focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

option {
  &:hover {
    background-color: styles.$button-color;
  }
}
