@use "../../styles/main.scss" as styles;

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: styles.$color-white;
  height: 100%;
  width: 30rem;
  min-width: 320px;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0px;
  // transition: right 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  color: styles.$color-blue;
}

.isOpen {
  right: 0;
}
