// @use "./styles/vars.scss" as vars;
@use "./styles/main.scss" as styles;

* {
  margin: 0;
  box-sizing: border-box;
  color: styles.$base-text-color;
}

:root {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: styles.$base-font-size;

  background-color: styles.$base-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}
